* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ff00c8, #6f00ff);
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
  width: 100%;
}
